<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.womi.businessmodule.mapper.DeviceInfoMapper">

    <select id="selectHeartbeatTimeoutDevices" resultType="com.womi.businessmodule.model.DeviceInfo">
        SELECT *
        FROM device_info
        WHERE online = 1
          AND last_heartbeat_time &lt; #{threshold}
    </select>

</mapper>