<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.womi.businessmodule.mapper.SensorRecordMapper">

    <select id="selectBySensorKey" resultType="com.womi.businessmodule.model.SensorRecord">
        SELECT *
        FROM sensor_record
        WHERE device_id = #{deviceId}
        AND sensor_key = #{sensorKey}
        <if test="start != null">
            AND timestamp &gt;= #{start}
        </if>
        <if test="end != null">
            AND timestamp &lt;= #{end}
        </if>
        ORDER BY timestamp DESC
    </select>

    <select id="selectBySlaveChannel" resultType="com.womi.businessmodule.model.SensorRecord">
        SELECT *
        FROM sensor_record
        WHERE device_id = #{deviceId}
        AND source = 'slave'
        AND slave_address = #{slaveAddress}
        <if test="channel != null">
            AND channel = #{channel}
        </if>
        <if test="sensorType != null">
            AND sensor_type = #{sensorType}
        </if>
        <if test="start != null">
            AND timestamp &gt;= #{start}
        </if>
        <if test="end != null">
            AND timestamp &lt;= #{end}
        </if>
        ORDER BY channel, timestamp DESC
    </select>

    <delete id="deleteBefore">
        DELETE FROM sensor_record WHERE timestamp &lt; #{time}
    </delete>

    <select id="selectAvgBySensorKey" resultType="java.lang.Double">
        SELECT AVG(sensor_value)
        FROM sensor_record
        WHERE device_id = #{deviceId}
        AND sensor_key = #{sensorKey}
        <if test="start != null">
            AND timestamp &gt;= #{start}
        </if>
        <if test="end != null">
            AND timestamp &lt;= #{end}
        </if>
    </select>

</mapper>